*.log
_ide_helper.php
/auth.json
.DS_Store
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
/.idea
/.nova
.phpactor.json
/.phpunit.cache
.phpunit.result.cache
/public/storage
/storage/*.key
Thumbs.db
/vendor
/.vscode
/.zed
